$na-primary: #189ad3;
$na-light-primary: #90caf9;
$na-dark-primary-1: #107dac;
$na-dark-primary-2: #005073;

$na-success: #5cb85c;
$na-danger: #d9534f;
$na-info: #5bc0de;
$na-dark: #292b2c;
$na-light: #f7f7f7;

$na-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.39);
