<div class="register-wrapper">
	<div class="container">
		<div class="title">NgAcademy</div>
		<div class="form-wrapper">
			<div class="form">
				<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
					<div class="form-item">
						<label for="name">First Name</label>
						<input type="text" formControlName="firstName">
					</div>
					<div class="form-item">
						<label for="name">Last Name</label>
						<input type="text" formControlName="lastName">
					</div>
					<div class="form-item">
						<label for="email">E-mail</label>
						<input type="email" formControlName="email">
					</div>
					<div class="form-item">
						<label for="password">Password</label>
						<input type="password" formControlName="password">
					</div>
					<div class="form-item">
						<label for="confirmPassword">Confirm Password</label>
						<input type="password" formControlName="confirmPassword">
					</div>
					<div class="form-item checkbox">
						<label for="adminRights">Admin Privileges</label>
						<input type="checkbox" formControlName="adminRights">
					</div>
					<div class="form-item submit">
						<button type="submit"
							[disabled]="(loading$ | async) ? true : !registerForm.valid">Register</button>
					</div>
				</form>
			</div>
		</div>
		<div class="error-message">{{errorMessage}}</div>
		<div class="login">Already have an account? <a routerLink="/auth/login">Log in!</a></div>
	</div>
</div>
