@import '../../../../assets/scss/variables.scss';

.login-wrapper {
	.container {
		width: 50%;
		margin: 100px auto;
		box-shadow: $na-box-shadow;
		padding: 0;
		font-size: 1.6rem;
		border-radius: 0 0 10px 10px;

		.title {
			background-color: $na-primary;
			font-size: 3rem;
			font-weight: 1000;
			padding: 15px;
			text-align: center;
			color: white;
			border-radius: 10px 10px 0 0;
		}

		.form-wrapper {
			padding: 15px;

			.form {
				.form-item {
					margin-bottom: 10px;

					label {
						display: block;
						padding: 0 0 5px 15px;
					}

					input {
						width: calc(100% - 30px);
						min-height: 25px;
						border: 1px solid $na-light-primary;
						border-radius: 20px;
						padding: 0 15px;

						&:focus,
						&:active,
						&:hover {
							outline: none;
							border-width: 2px;
							transition: 0.2s;
						}
					}
				}

				.submit {
					text-align: center;
					padding-top: 20px;

					button {
						border: none;
						background-color: $na-primary;
						color: white;
						font-size: 1.8rem;
						padding: 5px 15px;
						cursor: pointer;

						&:disabled {
							background-color: $na-light-primary;
							cursor: context-menu;
						}

						&:hover:not(:disabled) {
							background-color: $na-dark-primary-1;
						}
					}
				}
			}
		}

		.error-message {
			color: $na-danger;
			text-align: center;
		}

		.register {
			padding: 15px;
			text-align: center;
		}
	}
}
