@import '../../../../../assets/scss/variables.scss';

.users-list-wrapper {
	width: 70%;
	margin: auto;

	.title {
		font-size: 2rem;
		box-shadow: $na-box-shadow;
		border-bottom: 10px solid $na-dark-primary-2;
		padding: 15px 20px 10px 20px;
		text-align: center;
		margin-bottom: 30px;
	}
}
