@import '../../../../assets/scss/variables.scss';

.container {
	position: relative;
}

.message {
	width: 600px;
	box-sizing: border-box;
	margin-top: 25px;
	border-top: 10px solid $na-primary;
	box-shadow: $na-box-shadow;
	padding: 15px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	font-size: 2em;
}
